<ion-grid *ngIf="weather !== null">
  <ion-row>
    <ion-col size="12">{{weather.name}} <app-weather-icon></app-weather-icon></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">{{weather.temperature}}</ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">{{weather.pressure}}</ion-col>
  </ion-row>
  <ion-col size="12">{{weather.sunrise}}</ion-col>
  <ion-col size="12">{{weather.sunset}}</ion-col>
  <ion-col size="12">{{weather.date}}</ion-col>
  <ion-col size="12">{{weather.description}}</ion-col>
  <ion-col size="12">{{weather.iconId}}</ion-col>            
</ion-grid>